
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#0f172a;
  color:white;
  line-height:1.6;
}

.hero{
  min-height:100vh;
  padding:30px 8%;
  background:
  radial-gradient(circle at top right,#7c3aed 0%,transparent 30%),
  radial-gradient(circle at bottom left,#06b6d4 0%,transparent 30%),
  #0f172a;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:80px;
}

.logo{
  font-size:2rem;
}

.logo span{
  color:#38bdf8;
}

nav ul{
  display:flex;
  gap:25px;
  list-style:none;
}

nav a{
  text-decoration:none;
  color:white;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}

.hero-content{
  display:grid;
  grid-template-columns:1fr 350px;
  gap:40px;
  align-items:center;
}

.hero-text h1{
  font-size:4rem;
  margin-bottom:20px;
}

.hero-text p{
  max-width:600px;
  margin-bottom:25px;
  color:#cbd5e1;
}

.btn{
  display:inline-block;
  padding:12px 28px;
  background:#38bdf8;
  color:#000;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
}

.hero-card{
  background:rgba(255,255,255,0.08);
  padding:30px;
  border-radius:20px;
  backdrop-filter:blur(10px);
  border:1px solid rgba(255,255,255,0.1);
}

.section{
  padding:80px 8%;
}

.section h2{
  text-align:center;
  margin-bottom:40px;
  font-size:2.4rem;
  color:#38bdf8;
}

.card,
.project-card,
.contact-box{
  background:#111827;
  padding:30px;
  border-radius:20px;
  border:1px solid rgba(255,255,255,0.08);
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.skill-card,
.achievement{
  background:#111827;
  padding:25px;
  border-radius:18px;
  transition:0.3s;
}

.skill-card:hover,
.project-card:hover,
.achievement:hover{
  transform:translateY(-8px);
}

.project-card ul{
  margin-top:15px;
  padding-left:20px;
}

.timeline{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.timeline-item{
  background:#111827;
  padding:25px;
  border-left:5px solid #38bdf8;
  border-radius:15px;
}

.contact{
  text-align:center;
}

.social-links{
  margin-top:20px;
}

.social-links a{
  text-decoration:none;
  margin:0 10px;
  color:#38bdf8;
}

footer{
  text-align:center;
  padding:25px;
  background:#020617;
  color:#94a3b8;
}

@media(max-width:900px){

  .hero-content{
    grid-template-columns:1fr;
  }

  .hero-text h1{
    font-size:2.8rem;
  }

  nav{
    flex-direction:column;
    gap:20px;
  }

  nav ul{
    flex-wrap:wrap;
    justify-content:center;
  }
}
